<footer class="site-footer">

  <div>
    <div class="primary">
      <a href="http://www.peacecorps.gov/" rel="external"><img src="{{ site.baseurl }}{{ "/img/peacecorps-logo.png" }}" width="48" height="48" alt="Peace Corps"></a>
</div>
    
    <div class="secondary">
      <ul>
        <li><a href="{{ site.url }}{{ site.baseurl }}/contribute/">Contribute</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/disclaimer/">Disclaimer</a></li>
        <li><a href="{{ site.url }}{{ site.baseurl }}/credits/">Credits</a></li>
      </ul>
    </div>
    
    
</footer>
