

{% assign guide = site.meta.guide %}
{% assign toolkits = site.meta.toolkits %}
{% assign anchor-areas = site.meta.anchor-areas %}
{% assign projects = site.meta.projects %}
{% assign community = site.meta.community %}
{% assign contribute = site.meta.contribute %}
{% assign guide_entry_point = site.baseurl | append: '/guide/' %}
{% assign toolkits_entry_point = site.baseurl | append: '/toolkits/' %}
{% assign anchor-areas_entry_point = site.baseurl | append: '/anchor-areas/' %}
{% assign volunteer-projects_entry_point = site.baseurl | append: '/volunteer-projects/' %}
{% assign community_entry_point = site.baseurl | append: '/community/' %}
{% assign contribute_entry_point = site.baseurl | append: '/contribute/' %}
{% assign faq_entry_point = site.baseurl | append: '/faq/' %}



{% assign url_parts = page.url | split: '/' %}


{% if page.url contains 'guide'%}
  {% assign active_section = site.meta['guide'] %}
{% elsif page.url contains 'toolkits'%}
  {% assign active_section = site.meta['toolkit'] %}
{% endif %}




<header class="site-header">
  <a href="#menu" class="show-menu"><span class="text">Open the menu</span></a>
  <a class="site-title" href="{{ site.baseurl }}/"><img src="/img/logo.svg" width="30px">{{ site.short_title }}</a>
</header>

<nav id="menu">
  <ul>

    <li>
      <a href="{{ site.baseurl }}/">Home</a>
    </li>

    <li {% if page.path contains 'guide/' %}class="Selected"{% endif %}>
      <a href="{{ guide_entry_point }}">Guide</a>

      <ul>

          <!-- start navigation for guide section -->
          {% for chapter in guide.toc.chapters %}
          {% assign chapter_url = site.baseurl | append:  '/guide/' | append: chapter.slug | append: '/' %}
          <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
            <a href="{{ chapter_url }}">{{ chapter.title }}</a>
          </li>
          {% endfor %}<br /><br />&nbsp;
      </ul>
    </li>


        <!-- start navigation for anchor-areas section -->
    <li {% if page.path contains 'anchor-areas' %}class="Selected"{% endif %}>
      <a href="{{ anchor-areas_entry_point }}">Anchor Areas</a>

      <ul>
          {% for chapter in anchor-areas.toc.chapters %}
          {% assign chapter_url = site.baseurl | append:  '/' | append: chapter.slug | append: '/' %}
          <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
            <a href="{{ chapter_url }}">{{ chapter.title }}</a>
          </li>
          {% endfor %}<br /><br />&nbsp;
      </ul>
    </li>

    <!-- start navigation for toolkits section -->

    <li {% if page.url contains 'toolkits' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/toolkits/">Toolkits</a>

      <ul>
      <li><a href="{{ site.baseurl }}/toolkits/">Reset</a></li>
        <li class="search">
          <input type="search" placeholder="Search" class="quicksearch">
        </li>
        {% capture appareas %}{% for page in site.pages %}{% if page.section == 'toolkits' %}{% if page.area %}{{ page.area }},{% endif %}{% endif %}{% endfor %}{% endcapture %}
        {% if appareas != '' %}
            {% assign appareasArray = appareas | split: "," %}
            {% assign appareaslist = appareasArray[1] %}
            {% for at in appareasArray %}
              {% unless appareaslist contains at %}
                {% capture appareaslist %}{{ appareaslist }}@@{{ at }}{% endcapture %}
              {% endunless %}
            {% endfor %}
            {% assign appareassorted = appareaslist | split: '@@' | sort %}

            <li class="filter active">
              <a>Areas</a>
              <span class="filter-items">
                {% for apparea in appareassorted %}
                <a data-filter=".selector-area-{{ apparea | downcase | replace:' ','' }}" data-pid=".area-{{ apparea | downcase | replace:' ','' }}">{{ apparea }}</a>
                {% endfor %}
              </span>
            </li>
        {% endif %}
      <li>
        {% capture apptags %}{% for page in site.pages %}{% if page.section == 'toolkits' %}{% if page.tags %}{{ page.tags }},{% endif %}{% endif %}{% endfor %}{% endcapture %}
        {% if apptags != '' %}
            {% assign apptagsArray = apptags | split: "," %}
            {% assign apptagslist = apptagsArray[1] %}
            {% for at in apptagsArray %}
              {% unless apptagslist contains at %}
                {% capture apptagslist %}{{ apptagslist }}@@{{ at }}{% endcapture %}
              {% endunless %}
            {% endfor %}
            {% assign apptagssorted = apptagslist | split: '@@' | sort %}
      </li>
            <li class="filter active">
              <a>Tags</a>
              <span class="filter-items">
                {% for apptag in apptagssorted %}
                <a data-filter=".selector-tag-{{ apptag | downcase | replace:' ','' }}">{{ apptag }}</a>
                {% endfor %}
              </span>
            </li>
        {% endif %}
        </ul>
      </li>
    


    <!-- start navigation for projects section -->
<!-- 
    <li {% if page.url contains 'projects' %}class="Selected"{% endif %}>
      <a href="{{ site.baseurl }}/projects/">Projects</a>

      <ul>
      <li><a href="{{ site.baseurl }}/projects/">Reset</a></li>
        <li class="search">
          <input type="search" placeholder="Search" class="quicksearch">
        </li>
        {% capture appareas %}{% for page in site.pages %}{% if page.section == 'projects' %}{% if page.area %}{{ page.area }},{% endif %}{% endif %}{% endfor %}{% endcapture %}
        {% if appareas != '' %}
            {% assign appareasArray = appareas | split: "," %}
            {% assign appareaslist = appareasArray[1] %}
            {% for at in appareasArray %}
              {% unless appareaslist contains at %}
                {% capture appareaslist %}{{ appareaslist }}@@{{ at }}{% endcapture %}
              {% endunless %}
            {% endfor %}
            {% assign appareassorted = appareaslist | split: '@@' | sort %}

            <li class="filter active">
              <a>Areas</a>
              <span class="filter-items">
                {% for apparea in appareassorted %}
                <a data-filter=".selector-area-{{ apparea | downcase | replace:' ','' }}" data-pid=".area-{{ apparea | downcase | replace:' ','' }}">{{ apparea }}</a>
                {% endfor %}
              </span>
            </li>
        {% endif %}
      <li>
        {% capture apptags %}{% for page in site.pages %}{% if page.section == 'projects' %}{% if page.tags %}{{ page.tags }},{% endif %}{% endif %}{% endfor %}{% endcapture %}
        {% if apptags != '' %}
            {% assign apptagsArray = apptags | split: "," %}
            {% assign apptagslist = apptagsArray[1] %}
            {% for at in apptagsArray %}
              {% unless apptagslist contains at %}
                {% capture apptagslist %}{{ apptagslist }}@@{{ at }}{% endcapture %}
              {% endunless %}
            {% endfor %}
            {% assign apptagssorted = apptagslist | split: '@@' | sort %}
        </li>
            <li class="filter active">
              <a>Tags</a>
              <span class="filter-items">
                {% for apptag in apptagssorted %}
                <a data-filter=".selector-tag-{{ apptag | downcase | replace:' ','' }}">{{ apptag }}</a>
                {% endfor %}
              </span>
            </li>
        {% endif %}

      <li>
              {% capture appposts %}{% for page in site.pages %}{% if page.section == 'projects' %}{% if page.post %}{{ page.post }},{% endif %}{% endif %}{% endfor %}{% endcapture %}
        {% if appposts != '' %}
            {% assign apppostsArray = appposts | split: "," %}
            {% assign apppostslist = apppostsArray[1] %}
            {% for at in apppostsArray %}
              {% unless apppostslist contains at %}
                {% capture apppostslist %}{{ apppostslist }}@@{{ at }}{% endcapture %}
              {% endunless %}
            {% endfor %}
            {% assign apppostssorted = apppostslist | split: '@@' | sort %}
        </li>
            <li class="filter active">
              <a>Posts</a>
              <span class="filter-items">
                {% for apppost in apppostssorted %}
                <a data-filter=".selector-post-{{ apppost | downcase | replace:' ','' }}">{{ apppost }}</a>
                {% endfor %}
              </span>
            </li>
        {% endif %}


        </ul>
      </li> -->

        <!-- start navigation for contribute section -->
    <li {% if page.url contains 'contribute' %}class="Selected"{% endif %}>
      <a href="{{ contribute_entry_point }}">Contribute</a>


    <ul>

        {% for chapter in contribute.toc.chapters %}
        {% assign chapter_url = site.baseurl | append:  '/contribute/' | append: chapter.slug %}
        <li {% if page.url == chapter_url %}class="Selected"{% endif %}>
          <a href="{{ chapter_url }}">{{ chapter.title }}</a>
        </li>
        {% endfor %}<br /><br />&nbsp;
    </ul>
      </li>

        <!-- start navigation for FAQ section -->
    <li {% if page.url contains 'faq' %}class="Selected"{% endif %}>
      <a href="{{ faq_entry_point }}">F.A.Q.</a>

</nav>
