<div class="page-tools">
 {% if page.pagination %}
  <ul class="pagination">
    {% if page.pagination.start %}
    <li class="start tooltip-item">
      Start
      <span class="tooltip">
        <a href="{{ page.pagination.start.link }}">{{ page.pagination.start.name }}</a>
      </span>
    </li>
    {% endif %}
    {% if page.pagination.previous %}
    <li class="previous tooltip-item">
      Previous
      <span class="tooltip">
        <a href="{{ page.pagination.previous.link }}">{{ page.pagination.previous.name }}</a>
      </span>
    </li>
    {% endif %}
    {% if page.pagination.next %}
    <li class="next tooltip-item">
      Next
      <span class="tooltip">
        <a href="{{ page.pagination.next.link }}">{{ page.pagination.next.name }}</a>
      </span>
    </li>
    {% endif %}
  </ul>
  {% endif %}
  
  <ul>
    {% if site.github_repo and page.edit %}
    <li class="edit tooltip-item">
      Improve this page
      
      <span class="tooltip">
        <a href="http://prose.io/#peacecorps/ict4d-playbook/edit/gh-pages/{{page.path}}" class="github" rel="external">Edit on Prose.io</a>
        <a href="https://github.com/{{ site.github_username }}/{{ site.github_repo }}/edit/gh-pages/{{page.path}}" class="github" rel="external">Edit on Github</a>
        <a href="{{ "/contribute/" | prepend: site.baseurl }}">Help and instructions</a>
      </span>
    </li>
    {% endif %}
    <li class="share tooltip-item">
      Share
      
      <span class="tooltip">
      <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}', 'newwindow', 'width=600, height=400'); return false;"> Share on Facebook</a>
      <a class="twitter" href="https://twitter.com/home?status={{page.title }}: {{ site.url }}{{ page.url }}"  onclick="window.open('https://twitter.com/home?status={{page.title }}: {{ site.url }}{{ page.url }}', 'newwindow', 'width=600, height=400'); return false;"> Share on Twitter</a>
      </span>
    </li>

  </ul>
  
</div>